/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  color: white;
}
* {
  background-color: rgb(31, 31, 31);
  font-family: Arial !important;
}
button {
  color: black;
  background-color: rgb(236, 236, 236);
}
a {
  color: rgb(51, 153, 255);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  opacity: 80%;
  text-decoration: underline;
}
input {
  background-color: rgb(236, 236, 236);
}
textarea {
  background-color: rgb(236, 236, 236);
}
p {
  color: rgb(136, 136, 136);
}
p.status {
  color: rgb(136, 136, 136);
  background-color: transparent;
}
.report {
  background-color: rgb(21, 21, 21);
  border-radius: 7px;
  word-wrap: break-word;
  width: 50%;
  min-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  max-width: 800px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: auto;
  color: lightgray;
  margin-bottom: 40px;
  border: 1px solid rgb(125, 125, 125);
}
.report p {
  background-color: transparent;
}
.reports {
  margin: auto;
  text-align: center;
}
.report.closed {
  border: 1px solid red;
  opacity: 60%;
}
.comment {
  border: 1px solid lightgray;
}
.singlereport {
  background-color: rgb(21, 21, 21);
  border-radius: 7px;
  word-wrap: break-word;
  width: 50%;
  min-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  max-width: 800px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: auto;
  color: lightgray;
  margin-bottom: 40px;
  border: 1px solid rgb(125, 125, 125);
}
.singlereport p {
  background-color: transparent;
}
.singlereport h3 {
  background-color: transparent;
}
.singlereport h1 {
  background-color: transparent;
}
.commentblock {
  background-color: rgb(21, 21, 21);
  border-radius: 7px;
  word-wrap: break-word;
  width: 50%;
  min-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  max-width: 800px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: auto;
  color: lightgray;
  margin-bottom: 40px;
  border: 1px solid rgb(125, 125, 125);
}
.commentblock h3 {
  background-color: transparent;
}
.commentblock textarea {
  resize: none;
  width: 100%;
}
.commentformtop {
  border-radius: 7px;
  word-wrap: break-word;
  width: 50%;
  min-width: 700px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  max-width: 700px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: auto;
  color: lightgray;
  margin-bottom: 40px;
  background-color: transparent;
}
.field label {
  background-color: none;
}
.eachcommentholder {
  background-color: transparent;
  min-width: 700px;
  margin: auto;
  width: 700px;
}
.eachcommentholder h3 {
  background-color: transparent;
}
.commentform {
  background-color: transparent;
}
.form {
  background-color: transparent;
}
.field {
  background-color: transparent;
}
.actions {
  background-color: transparent;
}
.comment {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  min-width: 700px;
  max-width: 700px;
  border-radius: 7px;
  margin: auto;
  font-size: 20px;
  margin-bottom: 15px;
}
.comment small {
  opacity: 50%;
  font-size: 13px;
}
