<h1>Edit Bug Report</h1>

<%= render partial: "form", locals: {bug_report: @bug_report} %>
<br/>
<%= button_to "Delete", @bug_report, method: :delete, data: {turbo_confirm: "Are you sure you want to delete this bug report?"} %>