
<div class="reports"><h1>Bug Reports</h1>

<% @bug_reports.reverse_each do |bug_report| %>
    
    <div class="report">
        <h2 class="h2title"><%= link_to "##{bug_report.id} - #{bug_report.title}", bug_report %></h2>
        <%= bug_report.summary %>
    </div>
<% end %>
</div>


